.input,
.area {
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 14px;
    color: #FFF;
    width: 100%;
    /* padding: 24px; */
    /* width: 100%; */
    /* font-weight: 700; */
    font-family: 'Poppins';
}

.area {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    font-size: 16px;
    outline: none;
     resize: none; 
}